main, footer {
    max-width: 50rem;
    margin-inline: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    background-color: rgb(119, 159, 159);
}

.borderBox {
    width: 75%;
    height: 75%;
    text-align: center;
    align-self: center;
    margin: auto;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: black;
    border-radius: 20px;
    border-style: dotted;
}