main, footer {
    max-width: 50rem;
    margin-inline: auto;
}

body {
    font-family: Comfortaa;
    font-size: 1.2rem;
    background-color: rgb(119, 159, 159);
    line-height: 1.5;
}

.borderBox {
    width: 75%;
    height: 75%;
    text-align: center;
    align-self: center;
    margin: auto;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: black;
    border-radius: 20px;
    border-style: dotted;
}

ul.listOne {
    display: inline-block;
    text-align: left;
    list-style: decimal;
    line-height: 2;
}

.listItem {
    margin-top: 2px;
    margin-bottom: 2px;
}

.topBox {
    width: 100%;
    height: 75%;
    background-color: brown;
    text-align: center;
}