main {
    margin-inline: auto;
    margin: 0;
    padding: 0;
}

footer {
    max-width: 50rem;
    margin-inline: auto;
}

body {
    font-family: Comfortaa;
    font-size: 1.2rem;
    background-color: #b39a82;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.borderBox {
    width: 75%;
    height: 75%;
    text-align: center;
    margin: auto;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: black;
    border-radius: 20px;
    border-style: dotted;
    display: grid;
    margin-top: 100px;
    align-items: center;
    align-content: center;
}

.content {
    width: 100%;
    height: 100%;
    align-content: center;
}

.list {
    text-align: center;
}

ul.listOne {
    display: inline-block;
    text-align: left;
    list-style: decimal;
    line-height: 2;
}

.listItem {
    margin-top: 2px;
    margin-bottom: 2px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    top: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
}

.navbar a:visited {
    color: white;
}

.navbar a:link {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    transition: top 0.3s;
    background-color: #7f6d5cbf;
}

ul.navbar {
    margin: 0;
    padding: 0;
}